<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <tbody>
    <tr>
        <td align="center" valign="top" id="templateHeader"
            style="background:#ffffff none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 2px none #007fff;border-bottom: 2px none #007fff;padding-top: 10px;padding-bottom: 0px;">
            <!--[if (gte mso 9)|(IE)]>
            <tablet align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                <tr>
                    <td align="center" valign="top" width="600" style="width:600px;">
            <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer"
                   style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;max-width: 600px !important;">
                <tbody>
                <tr>
                    <td valign="top" class="headerContainer" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock"
                               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnImageBlockOuter">
                            <tr>
                                <td valign="top" style="padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnImageBlockInner">
                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer"
                                           style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                        <tr>
                                            <td class="mcnImageContent" valign="top"
                                                style="padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;text-align: center;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                                <a href="https://www.jbcnconf.com/" title="JBCNConf website" class="" target="_blank"
                                                   style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                    <img align="center" width="564"
                                                         style="max-width: 1200px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage"
                                                         src="{{header-image-url}}">
                                                </a>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </tablet>
            <![endif]-->
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" id="templateBody"
            style="background:#ffffff none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 9px;">
            <!--[if (gte mso 9)|(IE)]>
            <tablet align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                <tr>
                    <td align="center" valign="top" width="600" style="width:600px;">
            <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer"
                   style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;max-width: 600px !important;">
                <tbody>
                <tr>
                    <td valign="top" class="bodyContainer" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;">
                            <tbody class="mcnDividerBlockOuter">
                            <tr>
                                <td class="mcnDividerBlockInner" style="min-width: 100%;padding: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                                           style="min-width: 100%;border-top: 1px solid #EAEAEA;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                        <tr>
                                            <td style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <span></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--
                                                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                    <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                                    -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner" style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <!--[if mso]>
                                    <tablet align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                        <tr>
                                    <![endif]-->

                                    <!--[if mso]>
                                    <td valign="top" width="600" style="width:600px;">
                                    <![endif]-->
                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                           style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                           width="100%" class="mcnTextContentContainer">
                                        <tbody>
                                        <tr>

                                            <td valign="top" class="mcnTextContent"
                                                style="padding: 0px 18px 9px;font-weight: bold;line-height: 150%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #;font-family: Helvetica;font-size: 14px;text-align: left;">

                                                <p dir="ltr"
                                                   style="line-height: 150%;margin-top: 0pt;margin-bottom: 0pt;font-weight: bold;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #;font-family: Helvetica;font-size: 14px;text-align: left;">
                                                    <strong style="font-weight:normal"></strong><strong style="font-weight:normal">
                                                <span style="background-color: transparent;color: #000000;font-family: arial;font-size: 14.6667px;font-style: normal;font-variant: normal;font-weight: 400;text-decoration: none;vertical-align: baseline;white-space: pre-wrap;">
Dear {{username}},<br/>

We are glad to inform you that your proposal "{{talk-title}}" for <a href="https://www.jbcnconf.com">JBCNConf {{edition}}</a>
                                                         </span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="mcnTextContent"
                                                style="padding: 0px 18px 9px;font-weight: bold;line-height: 150%;font-size: 25px; font-family: Helvetica;text-align: center;">
                                                <b>has been approved!</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="mcnTextContent"
                                                style="padding: 0px 18px 9px;font-weight: bold;line-height: 150%;word-break: break-word;color: #;font-family: Helvetica;font-size: 14px;text-align: left;">

                                                <p dir="ltr"
                                                   style="line-height: 150%;margin-top: 0pt;margin-bottom: 0pt;font-weight: bold;margin: 10px 0;padding: 0;color: #;font-family: Helvetica;font-size: 14px;text-align: left;">
                                                    <strong style="font-weight:normal"></strong><strong style="font-weight:normal">
                                                <span style="background-color: transparent;color: #000000;font-family: arial;font-size: 14.6667px;font-style: normal;font-variant: normal;font-weight: 400;text-decoration: none;vertical-align: baseline;white-space: pre-wrap;">
We will inform you as soon as we can about your talk date & time.<br/>
As approved speaker you will be rewarded with a package including: free ticket for all the conference (talks, coffee breaks, lunches), a welcome bag, the Sunday special speakers activities & dinner, and Monday's all-together party.
We will inform you as soon as we can about your talk time.<br/>
                                                </span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="mcnTextContent"
                                                style="padding: 0px 18px 9px;line-height: 150%;font-size: 15px; font-family: Helvetica;text-align: center;">
                                                <p style="font-weight: bold">To ensure this position please reply to this email confirming your interest in speaking at the conference.</p>
                                                <p style="font-weight: bold">During the following weeks after confirmation, we will proceed with the announcement on the website (<a href="https://www.jbcnconf.com/">www.jbcnconf.com</a>) and Twitter (<a href="https://twitter.com/jbcnconf/">@jbcnconf</a>). We kindly ask you not to do any announcement until that moment.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="mcnTextContent"
                                                style="padding: 0px 18px 9px;line-height: 150%;word-break: break-word;color: #;font-family: Helvetica;font-size: 14px;text-align: center;">

                                                <p dir="ltr"
                                                   style="line-height: 150%;margin-top: 0pt;margin-bottom: 0pt;margin: 10px 0;padding: 0;color: #;font-family: Helvetica;font-size: 14px;text-align: left;">
                                                    <strong style="font-weight:normal"></strong><strong style="font-weight:normal">
                                                <span style="background-color: transparent;color: #000000;font-family: arial;font-size: 14.6667px;font-style: normal;font-variant: normal;font-weight: 400;text-decoration: none;vertical-align: baseline;white-space: pre-wrap;">
If you have any question check our website or reach us by mail at <a href="mailto:info@barcelonajug.org">info@barcelonajug.org</a><br/>
It is a pleasure to count on you as Speaker at <a href="https://www.jbcnconf.com">JBCNConf {{edition}}</a>, we will look forward to see you in Barcelona this summer!<br/>
Best regards,<br/>
<a href="https://www.jbcnconf.com">JBCNConf</a> team.

<b>P.S.</b> Don't forget to <b>tweet</b> about it with <a href="https://twitter.com/search?q=%23jbcn22&src=typd&lang=en">#jbcn22</a>

                                                    </span>
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--[if mso]>
                                    </td>
                                    <![endif]-->

                                    <!--[if mso]>
                                    </tr>
                                    </tablet>
                                    <![endif]-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;">
                            <tbody class="mcnDividerBlockOuter">
                            <tr>
                                <td class="mcnDividerBlockInner" style="min-width: 100%;padding: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                                           style="min-width: 100%;border-top: 2px solid #EAEAEA;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                        <tr>
                                            <td style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <span></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock"
                               style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnCaptionBlockOuter">
                            <tr>
                                <td class="mcnCaptionBlockInner" valign="top" style="padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionTopContent" width="false"
                                           style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                        <tr>
                                            <td class="mcnTextContent" valign="top"
                                                style="padding: 0px 9px;line-height: 100%;text-align: center;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #;font-family: Helvetica;font-size: 14px;"
                                                width="564">
                                                <p dir="ltr"
                                                   style="line-height: 100%;margin-top: 0pt;margin-bottom: 0pt;text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #;font-family: Helvetica;font-size: 14px;">
                                                    <font color="#000000" face="arial"><span style="font-size:14.6667px; line-height:23.4667px; white-space:pre-wrap">Contact us at : <a
                                                            href="mailto:info@barcelonajug.org" target="_blank"
                                                            style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #d83826;font-weight: normal;text-decoration: underline;"><strong>info@barcelonajug.org</strong></a></span></font>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mcnCaptionTopImageContent" align="center" valign="top"
                                                style="padding: 9px 9px 0 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <img align="center" width="564"
                                                     style="max-width: 1200px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage"
                                                     src="{{footer-image-url}}">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;">
                            <tbody class="mcnDividerBlockOuter">
                            <tr>
                                <td class="mcnDividerBlockInner" style="min-width: 100%;padding: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                                           style="min-width: 100%;border-top: 2px solid #EAEAEA;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                        <tr>
                                            <td style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <span></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </tablet>
            <![endif]-->
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" id="templateFooter"
            style="background:#007fff none no-repeat center/cover;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #007fff;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 1px solid #aaaaaa;border-bottom: 0;padding-top: 9px;padding-bottom: 9px;">
            <!--[if (gte mso 9)|(IE)]>
            <tablet align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                <tr>
                    <td align="center" valign="top" width="600" style="width:600px;">
            <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer"
                   style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;max-width: 600px !important;">
                <tbody>
                <tr>
                    <td valign="top" class="footerContainer" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock"
                               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnFollowBlockOuter">
                            <tr>
                                <td align="center" valign="top" style="padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                    class="mcnFollowBlockInner">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer"
                                           style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="padding-left: 9px;padding-right: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                       style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                       class="mcnFollowContent">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="top"
                                                            style="padding-top: 9px;padding-right: 9px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                                   style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                        <!--[if mso]>
                                                                        <tablet align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                        <![endif]-->

                                                                        <!--[if mso]>
                                                                        <td align="center" valign="top">
                                                                        <![endif]-->
                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                                               style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="padding-right: 10px;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                                    class="mcnFollowContentItemContainer">
                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem"
                                                                                           style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td align="left" valign="middle"
                                                                                                style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width=""
                                                                                                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                                    <tbody>
                                                                                                    <tr>

                                                                                                        <td align="center" valign="middle" width="24" class="mcnFollowIconContent"
                                                                                                            style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                                            <a href="https://www.jbcnconf.com/" target="_blank"
                                                                                                               style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img
                                                                                                                    src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png"
                                                                                                                    style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                                                    height="24" width="24" class=""></a>
                                                                                                        </td>


                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <!--[if mso]>
                                                                        </td>
                                                                        <![endif]-->

                                                                        <!--[if mso]>
                                                                        <td align="center" valign="top">
                                                                        <![endif]-->


                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                                               style="display: inline;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="top"
                                                                                    style="padding-right: 0;padding-bottom: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                                                                    class="mcnFollowContentItemContainer">
                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem"
                                                                                           style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td align="left" valign="middle"
                                                                                                style="padding-top: 5px;padding-right: 10px;padding-bottom: 5px;padding-left: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width=""
                                                                                                       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                                    <tbody>
                                                                                                    <tr>

                                                                                                        <td align="center" valign="middle" width="24" class="mcnFollowIconContent"
                                                                                                            style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                                                            <a href="https://twitter.com/jbcnconf" target="_blank"
                                                                                                               style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img
                                                                                                                    src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png"
                                                                                                                    style="display: block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                                                                                                                    height="24" width="24" class=""></a>
                                                                                                        </td>


                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <!--[if mso]>
                                                                        </td>
                                                                        <![endif]-->

                                                                        <!--[if mso]>
                                                                        </tr>
                                                                        </tablet>
                                                                        <![endif]-->
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock"
                               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;">
                            <tbody class="mcnDividerBlockOuter">
                            <tr>
                                <td class="mcnDividerBlockInner"
                                    style="min-width: 100%;padding: 10px 18px 25px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%"
                                           style="min-width: 100%;border-top: 2px solid #EEEEEE;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                        <tbody>
                                        <tr>
                                            <td style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                <span></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
                               style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <tbody class="mcnTextBlockOuter">
                            <tr>
                                <td valign="top" class="mcnTextBlockInner" style="padding-top: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <!--[if mso]>
                                    <tablet align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                        <tr>
                                    <![endif]-->

                                    <!--[if mso]>
                                    <td valign="top" width="600" style="width:600px;">
                                    <![endif]-->
                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                           style="max-width: 100%;min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                                           width="100%" class="mcnTextContentContainer">
                                        <tbody>
                                        <tr>

                                            <td valign="top" class="mcnTextContent"
                                                style="padding-top: 0;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #333333;font-family: Helvetica;font-size: 14px;line-height: 150%;text-align: left;">

                                                <em>Copyright © 2022 Barcelona Java Users Group, All rights reserved.</em><br>
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--[if mso]>
                                    </td>
                                    <![endif]-->

                                    <!--[if mso]>
                                    </tr>
                                    </tablet>
                                    <![endif]-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </tablet>
            <![endif]-->
        </td>
    </tr>
    </tbody>
</table>
