<html>
<head>
    <title>Template test</title>
</head>
<body>
<h1>Amazing Mail template</h1>
<p>
    <a href="https://jbcnconf.com">The JBCNConf is amazing!</a>
    Here are some replacements:
      * team={{team-value}}
      * username={{username}}
</p>
</body>
</html>
